Project_MVC/Connected Services/ProductService/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Project_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Project_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTB_PRODUCT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_PRODUCT" nillable="true" type="tns:TB_PRODUCT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_PRODUCT" nillable="true" type="tns:ArrayOfTB_PRODUCT" />
  <xs:complexType name="TB_PRODUCT">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProduct" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_PRODUCT" nillable="true" type="tns:TB_PRODUCT" />
</xs:schema>